hr {
  height: 0px;
  background-color: #000;
}

.payment-info {
  background-color: white;
  border-radius: 14px;
  border: #7d7171 solid 2px;
}

.payment-info p {
  font-size: 25px;
}

.payment-info h1 {
  font-size: 18px;
  font-weight: normal;
  color: #7d7171;
  padding-bottom: 15px;
}

.payment-info h2,
h3,
h5 {
  padding-bottom: 15px;
  font-size: 16px;
}

.payment-info i {
  font-size: 14px;
  font-weight: normal;
  color: #7d7171;
}

.col-4 {
  width: 33.34%;
}

.payment-price h2 {
  font-size: 22px;
}

.justify-items-center {
  justify-items: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.expire-time {
  background-color: rgba(255, 48, 172, 0.17);
  height: 137px;
  border-radius: 14px;
  margin-left: 100px;
}

.expire-time .grid {
  background-color: rgba(225, 38, 162, 0.38);
  color: #d329ae;
  width: 50px;
  height: 56px;
  border-radius: 10px;
  margin: 0 20px 0 20px;
}
.expire-time p {
  color: #e0083c;
  font-size: 19px;
  font-weight: normal;
}

.expire-time h1 {
  font-size: 22px;
}

.expire-time h2 {
  font-size: 12px;
}

.col-2 {
  width: 16.67%;
}

.btn-quayve {
  color: #d329ae;
  font-size: 15px;
}

.swal2-success-ring {
  padding-bottom: 0px;
}

.swal2-icon {
  padding-bottom: 0px;
}

.confirm {
  background-color: white;
  color: #000;
  border: #000 solid 2px;
  border-radius: 8px;
  box-shadow: none;

  border-radius: 0.25em;
  background: initial;
  font-size: 1em;

  margin: 0.3125em;
  padding: 0.625em 1.1em;
  transition: box-shadow 0.1s;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
  font-weight: 500;

  width: 100%;
  height: 65px;
}

.cancel {
  background-color: rgb(53, 53, 53);
  color: white;
  border-radius: 8px;
  box-shadow: none;

  border-radius: 0.25em;
  font-size: 1em;

  margin: 0.3125em;
  padding: 0.625em 1.1em;
  transition: box-shadow 0.1s;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
  font-weight: 500;

  width: 100%;
  height: 65px;
}

.no-border {
  border: 0;
}

.swal2-actions {
  width: 80% !important;
  flex-direction: column-reverse;
}

.btn-pay {
  width: 250px;
  height: 50px;
  background-color: #f1c40f;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
